$bg-body: white;
$bg-imageb1: #f5f7fa;
$bg-imageb2: #83a7e0;

$bg-header: #4158D0;
$bg-imageh1: #8f9cdf;
$bg-imageh2: #ceceee;

$bg-footer: #4158D0;
$bg-imagef1: #8f9cdf;
$bg-imagef2: #ceceee;
$bg-transf1: rgb(152, 158, 158);

$pad-text: 10px;