*{
    Margin: 0;
    padding:0;}

.flecha_arriba{
    height: nth($list: $tamaños, $n: 10);
    width: nth($list: $tamaños, $n: 10);
    margin: nth($list: $tamaños, $n: 3);}

.flecha:hover{
        transform: scale(1) translateY(-10px);
        transition: 0.3s;
        color: black;
        background-color: $bg-transf1;
        border-radius: 8%;
        border-color: $bg-footer;
        border-style:inherit;
    }


.flecha{
    position: fixed;
    bottom: 50px;
    right: 50px;}

    
    /* Body */

body{
    background-color: $bg-body;
    font-family: sans-serif;
    padding: 108px 0 50px 0;
    min-height: 100vh;
    background-image: linear-gradient(135deg, $bg-imageb1 0%,$bg-imageb2 100%);}