    /* Footer */

.pie_pagina{
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 45px;
    background-color: $bg-footer;
    background-image: linear-gradient(43deg, $bg-imagef1 0%, $bg-imagef2 100%);}
       
.pie_pagina a{
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 8px;
    color: nth($colores, 1 );}
       
.pie_pagina{
    justify-content:space-evenly;
    font-size: 28px;}
      
.pie_pagina a:hover{
    transform: scale(1) translateY(-10px);
    transition: 0.3s;
    color: black;
    background-color: $bg-transf1;
    border-radius: 8%;
    border-color: $bg-footer;
    border-style:inherit;}