     /* Media Queries */

@media only screen and (max-width: 768px){

    .flecha_arriba{
        display:none}
           
        /* Sección Encabezado */
    .navbar{
        font-size: 15px;}
    
    .barra-navegacion{
        font-size: 16px;}
    
    .logo-rpc{
        height: 75px;
        width: 75px;
        padding: 4px;}
    
        /* Sección Presentacion */
    
    .presentacion{
        height: 381px;
        justify-content: space-evenly;
        padding-top:10px;}
    
    .presentacion h1{
        font-size: 31px;}
    
    .video{
        border: 5px solid rgb(129, 104, 104);
        width: 425px;
        height:245px;
        border-radius: 10px;}
    
        /* Sección Nosotros */
    
    .nosotros{
        height: 335px;}
    
    .nosotros h2{
        font-size: 36px;
        padding: 10px;}
    
    .nosotros_interno img{
       width: 261px;
       height:155px; 
       border: 5px groove rgb(129, 104, 104); 
       border-radius: 8px;}
    
    .nosotros_interno p{
        font-size: 19px;}
    
    .flecha_arriba {
        height: 35px;
        width: 35px;
        margin: 6px;}
    
        /* Sección Testimonios */
   
    #testimonios h2{
       font-size: 36px;}
    
    .textos_cajas{
        font-size: 6px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-content: center;}
    
    #testimonios p{
        font-style: talic;
        font-size: 16px;}

    #testimonios{
        height: -moz-available;}

        /* Sección Contacto */
    
    #contacto h2{
        font-size: 29px;}
        
        /* Footer */
    
    .pie_pagina a{
        height: 32px;}
    
    .pie_pagina{
        height: 40px;
        font-size: 25px;}
    
        /* Páginas Profesionales */
    
    .profesionales_cajas{
        grid-template-columns: repeat(2, 1fr);}
        
    .profesionales_tit{
        padding-top: 20px;
        font-size: 24px;} 
    }
    
@media only screen and (max-width: 576px){
    
        /* Página Principal */
    
    .flecha_arriba{
        display:none}
    
        /* Sección Encabezado */
    
    .container-fluid{
        padding-left: var(--bs-gutter-x,0px);
        padding-right: var(--bs-gutter-x,55px);} 
    
    .navbar-brand{
        margin-right: 0px;}
    
    .logo-rpc{
        height: 75px;
        width: 75px;
        padding: 4px;}
    
    .barra-rpc a {
        font-size: small;}
    
        /* Sección Presentacion */
    
    .presentacion{
        height: 381px;
        justify-content: space-evenly;
        padding-top:10px;}
    
    .presentacion h1{
        font-size: 22px;}
    
    .video{
        border: 5px solid rgb(129, 104, 104);
        width: 398px;
        height:223px;}
    
        /* Sección Nosotros */
    
    .nosotros{
        height: 190px;
        font-size: 8pt;}
    
    .nosotros h2{
        font-size: 30px;}
    
    .nosotros_interno img{
       width: 290px;
       height:110px;}
    
    .nosotros_interno p{
        font-size: 15px;}
    
    .flecha_arriba{
        height: 35px;
        width: 35px;
        margin: 6px;}
    
        /* Sección Testimonios */
    
    #testimonios h2{
       font-size: 30px;}
    
    .textos_cajas{
        font-size: 6px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 2px;
        justify-content: center;
        align-self: center;}
    
    #testimonios p{
        font-style: italic;
        font-size: 12px;}
    
        /* Sección Contacto */
    
    #contacto{
        height: 370px;}
    
    #contacto h2{
        font-size: 29px;}
    
        /* Footer */
    
    .pie_pagina{
        height: 40px;
        font-size: 24px;}
    
    .pie_pagina a{
        height: 32px;}
        
        /* Página Profesionales */
    
    .profesionales_tit{
        padding-top: 20px;
        font-size: 17px;}
        
    .profesionales_cajas{
        grid-template-columns: repeat(1, 1fr);}
    }

@media only screen and (max-width: 480px){
    
        /* Página Principal */
    
    .flecha_arriba{
        display:none}
    
        /* Sección Encabezado */
    
    .container-fluid{
        padding-left: var(--bs-gutter-x,0px);
        padding-right: var(--bs-gutter-x,55px);} 
    
    .navbar-brand{
        margin-right: 0px;}
    
    .logo-rpc{
        height: 75px;
        width: 75px;
        padding: 4px;}
    
    .barra-rpc a {
        font-size: small;}
    
        /* Sección Presentacion */
    
    .presentacion{
        height: 381px;
        justify-content: space-evenly;
        padding-top:10px;}
    
    .presentacion h1{
        font-size: 22px;}
    
    .video{
        border: 5px solid rgb(129, 104, 104);
        width: 319px;
        height:179px;}
    
        /* Sección Nosotros */
    
    .nosotros{
        height: 210px;
        font-size: 8pt;}
    
    .nosotros h2{
        font-size: 30px;}
    
    .nosotros_interno img{
       width: 175px;
       height:110px;}
    
    .nosotros_interno p{
        font-size: 15px;
        padding: 2px}
    
    .flecha_arriba{
        height: 35px;
        width: 35px;
        margin: 6px;}
    
        /* Sección Testimonios */
    
    #testimonios h2{
       font-size: 30px;}
    
    .textos_cajas{
        display: grid;
        grid-template-columns: repeat(1, .85fr);
        grid-template-rows: auto;
        justify-content: center;
        font-size: 6px;}
    
    #testimonios p{
      font-style: italic;
      font-size: 12px;}
    
        /* Sección Contacto */
    
    #contacto{
        height: 370px;}
    
    #contacto h2{
        font-size: 29px;}
    
    .formulario{
        max-width: 96%;
        width: 500px;}

        /* Footer */
    
    .pie_pagina{
        height: 40px;
        font-size: 24px;}
    
    .pie_pagina a{
        height: 32px;}
        
        /* Página Profesionales */
    
    .profesionales_tit{
        padding-top: 20px;
        font-size: 17px;}
        
    .profesionales_cajas{
        grid-template-columns: repeat(1, 1fr);}
    }

@media only screen and (max-width: 390px){
    
        /* Página Principal */
    
    .flecha_arriba{
        display:none}
    
        /* Sección Encabezado */
    
    .navbar-brand{
        margin-right: 0px;}
    
    .barra-navegacion{
        font-size: 6px;}
    
    .barra-rpc a{
        font-size: small;}
    
    .logo-rpc{
        height: 75px;
        width: 75px;
        padding: 2px;}
    
        /* Sección Presentacion */
    
    .presentacion{
        height: 381px;
        justify-content: space-evenly;
        padding-top:10px;}
    
    .presentacion h1{
        font-size: 22px;}
    
    .video{
        border: 5px solid rgb(129, 104, 104);
        width: 98%;
        height:170px;}
    
        /* Sección Nosotros */
    
    .nosotros{
        height: 190px;
        font-size: 8pt;}
    
    .nosotros h2{
        font-size: 30px;}
    
    .nosotros_interno img{
       width: 190px;
       height:89px;}
    
    .nosotros_interno p{
        font-size: 10px;}
    
    .flecha_arriba{
        height: 35px;
        width: 35px;
        margin: 6px;}
    
        /* Sección Testimonios */

    #testimonios h2{
       font-size: 30px;}
    
    .textos_cajas{
        font-size: 4px;}  
    
    .textos_cajas{
        grid-template-columns: repeat(1, .8fr);
        grid-template-rows: auto;
        gap: 6px;
        justify-items: center;}
    
    #testimonios p{
        font-style: italic;
        font-size: 12px;}
    
        /* Sección Contacto */
    
    #contacto {
        height: 270px;}
        
    #contacto h2{
        font-size: 25px;}
    
        /* Footer */
    
    .pie_pagina{
        height: 40px;
        font-size: 24px;}
    
    .pie_pagina a{
        height: 32px;}
        
        /* Página Profesionales */
    
    .profesionales_tit{
        padding-top: 20px;
        font-size: 17px;}
        
    .profesionales_cajas{
        grid-template-columns: repeat(1, 1fr);}
    .nav-link {
        display: block;
        padding: 2px;}
        
    .elemento {
        margin-right: 12px;}
    }