   /* Sección Presentación*/

.presentacion{
    height: 480px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;}

.presentacion h1{
    font-size: nth($list: $tamaños, $n: 10);
    color: blue;
    font-style: oblique;
    text-align: center;}

.video{
    border: map-get($map:$palabras , $key:contorno);
    width: 560px;
    height:320px;}

    /* Sección Nosotros */
 
.nosotros{
    height: 390px;
    font-size: 8pt;}

.nosotros_interno{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.nosotros h2{
    color: rgb(47, 50, 255);
	font-size: 50px;
	text-align: center;}

article p{
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;}

article img{
    width: 400px;
    height:230px;}

    /* Seccion Testimonios */
 
 #testimonios{
    background-image: url("/assets/img/varios/Escritura2.jpg");
    background-repeat:none;
    background-size: cover;
    height: 610px;}

.mx-auto{
    margin-right: auto;
    margin-left: auto;}

#testimonios h2{
    color: rgb(47, 50, 255);
    font-size: 50px;
    text-align: center;}

#testimonios p{
    font-style: italic;
    font-size: 20px;
    text-align:inherit;
    color: black;
    margin:3px;
    border: solid 3px #aaaaaa;
    opacity: 1;
    padding: 5px}

.test_1{
    background-color: aquamarine;}

.test_2{
    background-color: rgb(201, 248, 203);}

.test_3{
    background-color: rgb(236, 252, 191);}

.test_4{
    background-color: rgb(241, 219, 245);}

.test_5{
    background-color: white;}

.test_6{
    background-color: pink;}

    /* GRID a Testimonios */

.textos_cajas{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    font-size: 15px;}

    /* Sección Contacto */

/* #contacto{
    height: 380px;
    font-size: 8pt;}

#contacto h2{
    color: rgb(47, 50, 255);
    font-size: 50px;
    text-align: center;} */

/* .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;} */

/* body{
    background:#59ABE3;
    margin:0}
 */
.formulario{
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:unset;
    
}

.tituloscont{
    margin:10px 0;
    padding-bottom: 0px;
    width:246px;
    color:#78788c;
    border-bottom:3px solid #78788c}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2}

input:focus{
    border-bottom:2px solid #78788c}

p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;cursor:pointer;
    transition:all .3s}

button:hover{
    background:#78788c;
    color:#fff}


    /* GRID a Páginas de Profesionales */

.profesionales_cajas{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    font-size: 15px;}

.profesionales_int{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #aaaaaa solid;
    padding:$pad-text;}

.profesionales_cajas img{
    width:200px;
    height:200px;
    margin: 5px;
    border-style: groove;
    border-color: rgb(205, 182, 226);}

.profesionales_tit{
    margin: 15px;
    text-align: center;
    color: rgb(47, 50, 255);
    font-size: 35px;}
