   /* Sección Presentación*/

.presentacion{
    height: 480px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;}

.presentacion h1{
    font-size: nth($list: $tamaños, $n: 10);
    color: blue;
    font-style: oblique;
    text-align: center;}

.video{
    border: map-get($map:$palabras , $key:contorno);
    width: 560px;
    height:320px;}

    /* Sección Nosotros */
 
.nosotros{
    height: 390px;
    font-size: 8pt;}

.nosotros_interno{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.nosotros h2{
    color: rgb(47, 50, 255);
	font-size: 50px;
	text-align: center;}

article p{
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;}

article img{
    width: 400px;
    height:230px;}

    /* Seccion Testimonios */
 
 #testimonios{
    background-image: url("/assets/img/varios/Escritura2.jpg");
    background-repeat:none;
    background-size: cover;
    height: 480px;
}

.mx-auto{
    margin-right: auto;
    margin-left: auto;}

#testimonios h2{
    color: rgb(47, 50, 255);
    font-size: 50px;
    text-align: center;}

#testimonios p{
    font-style: italic;
    font-size: 18px;
    text-align:inherit;
    color: black;
    margin:3px;
    border: solid 3px #aaaaaa;
    opacity: 1;
    padding: 5px}

.test_1{
    background-color: aquamarine;}

.test_2{
    background-color: rgb(201, 248, 203);}

.test_3{
    background-color: rgb(236, 252, 191);}

.test_4{
    background-color: rgb(241, 219, 245);}

.test_5{
    background-color: white;}

.test_6{
    background-color: pink;}

    /* GRID a Testimonios */

.textos_cajas{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-content: center;
    font-size: 15px;}

    /* Sección Contacto */

.contact_form{  
    width: 435px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 6px;}
  
input{
    background-color: #fbfbfb; 
    width: 408px;
    height: 40px;
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px;}
  
textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px;}
  
label{
    display: block; 
    float: center;}
  
.boton_es{
    display:flex;
    justify-content: space-around;}
  
.boton_enviar{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    font-family:'Montserrat',sans-serif;
    background-color: rgb(66, 194, 72); 
    border:2px solid #78788c; 
    border-radius: 10px;  
    width: 100px;   
    cursor: pointer;}

.boton_limpiar{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    font-family:'Montserrat',sans-serif;
    background-color: rgb(129, 83, 65); 
    border:2px solid #78788c; 
    border-radius: 10px;  
    width: 100px;   
    cursor: pointer;}
  
.obligatorio{
    color: #ab4493;}
  
.aviso{
    font-size: 13px;  
    color: #0e0e0e;}
 
.formulario h2{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;}
  
.formulario h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;}
  
.formulario p{
    font-size: 14px; 
    color: #0e0e0e;}
  
::-webkit-input-placeholder{
   color: #a8a8a8;}
  
::-webkit-textarea-placeholder{
   color: #a8a8a8;}
  
.formulario input:focus{
    outline:0;
    border: 1px solid #97d848;}
  
.formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;}
  
    /* GRID a Páginas de Profesionales */

.profesionales_cajas{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    font-size: 15px;}

.profesionales_int{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #aaaaaa solid;
    padding:$pad-text;}

.profesionales_cajas img{
    width:200px;
    height:200px;
    margin: 5px;
    border-style: groove;
    border-color: rgb(205, 182, 226);}

.profesionales_tit{
    margin: 15px;
    text-align: center;
    color: rgb(47, 50, 255);
    font-size: 35px;}
